.map {
  border: solid 3px blue;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  min-width: 60vh;
  min-height: 60vh;

  z-index: 1;
  color: #777;
  background-color: black;
}

@media (min-width: 768px) {
}
