.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body{
  background-color: #282c34;
}

.Filters{
  color:white;
  align-items: flex-start;
}
