.App {
  text-align: center;
}

.App-header {
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #282c34;
}

.App-body {
  background-color: #282c34;
}

.Filters {
  color: white;
  align-items: flex-start;
}

.overlay {
  opacity: 0.8;
  background-color: #ccc;
  display: flex;
  justify-content: center;
}
